.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none; }

.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none; }

.label-primary, .badge-primary {
  background-color: #1ab394;
  color: white; }

.label-success, .badge-success {
  background-color: #1c84c6;
  color: white; }

.label-warning, .badge-warning {
  background-color: #f8ac59;
  color: white; }

.label-warning-light, .badge-warning-light {
  background-color: #f8ac59;
  color: white; }

.label-danger, .badge-danger {
  background-color: #ed5565;
  color: white; }

.label-info, .badge-info {
  background-color: #23c6c8;
  color: white; }

.label-inverse, .badge-inverse {
  background-color: #262626;
  color: white; }

.label-white, .badge-white {
  background-color: white;
  color: #5e5e5e; }

.label-white, .badge-disable {
  background-color: #2a2e36;
  color: #8b91a0; }

/*# sourceMappingURL=badgets_labels.css.map */
