@import 'scss/style';

.browsehappy {
  margin: 0.2em 0;
  background: #1cc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: (100px*3);

  img.pull-right {
    width: 50px;
  }
}


// injector
// endinjector
