<div class="row" style="margin-top: 30px">

   <!-- <span ng-repeat="(key,obj) in array">
        {{key}};

        <span ng-repeat="(key1,obj1) in obj">
        {{key1}};
        </span>
        <br>

    </span> -->

    <div class="col-lg-12">


        <ul rn-carousel rn-carousel-controls rn-carousel-auto-slide rn-carousel-index="carouselIndex"
            rn-carousel-buffered>
            <li ng-repeat="slide in slides track by slide.id">
                <div ng-style="{'background-image': 'url(' + slide.img + ')'}" class="bgimage">
                    {{ slide.id }}
                </div>
            </li>
        </ul>


        <div align="center" class="rn-carousel-indicator custom-indicator">
            <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides"
                 rn-carousel-index="carouselIndex"></div>
        </div>

    </div>

</div>



