<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav" id="side-menu">
      <li class="nav-header">

        <div class="dropdown profile-element" dropdown >
          <img alt="image"  src="img/alp50ans.jpg"/>
        </div>
        <div class="logo-element">
          ALP
        </div>
      </li>

      <li ng-class="{active: $state.includes('admin')}">
        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'ADMIN' }}</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level" ng-class="{in: $state.includes('index')}">
          <li ui-sref-active="active"><a ui-sref="admin.users">{{ 'LISTE UTILISATEURS'}}</a></li>
          <li ui-sref-active="active"><a ui-sref="admin.user">{{ 'CREATION UTILISATEUR' }} </a></li>
          <li ui-sref-active="active"><a ui-sref="admin.groups({tt:'tt')">{{ 'LISTE GROUPES' }}</a></li>
          <li ui-sref-active="active"><a ui-sref="admin.group">{{ 'CREATION GROUPE'}} </a></li>

        </ul>
      </li>

      <li ng-class="{active: $state.includes('reports')}">
        <a ui-sref="reports.drivers"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'REPORTS' | translate }}</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level" ng-class="{in: $state.includes('index')}">
          <li ui-sref-active="active"><a ui-sref="main.drivers">{{ 'DRIVERS' | translate }}</a></li>
        </ul>
      </li>



  </div>
</nav>
