<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>

            <div align="center">Amicale Laïque Plouzané 50 ans</div>

        </div>

    </nav>
</div>
