
.bgimage {
  text-align:right;
  color:white;
  background-size:cover;
  height: 100%;
  background-position: center center;
}

ul[rn-carousel] {
  width:auto;
  min-height:600px;

  @media(min-height: 900px){
    min-height:800px;
  }

  margin: 0 auto;

  width: auto;
  height: auto;

  display: block;
}

.carousel5 li {
  width:100%;
  height:100%;
  font-size:30px;
  background-color: #ccc;
}

.carousel-demo {
  margin-top:20px;
  display:inline-block;
  text-align: center;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

input.tiny {
  width:50px;
  text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
  margin-left:100px;
}

.custom-indicator span {
  transition: all 0.3s ease-in;

}
.custom-indicator span.active {
  color: #6790ff !important;
}
